src/main/mule/update-property-files.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="76c2d770-d23e-4585-9bfa-2d571be683a3" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="update-property-filesFlow" doc:id="bcba6cf9-d288-477d-976d-02146d9ebb12" >
		<http:listener doc:name="Listener" doc:id="a7ff3250-da36-42b6-aa61-de0fc4d53f33" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="d5dfd706-e111-405a-8932-d4e3ab6a2dd9" message='#["test"]'/>
		<set-payload value='#["test"]' doc:name="Set Payload" doc:id="d9374503-0012-4999-af10-78582909423c" />
	</flow>
</mule>
